.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f4f9;
  padding: 25px 15px;
  transition: all 0.4s;
}
.sidebar img {
  width: 20px;
}
.sidebar .menu {
  display: block;
  margin-left: 10px;
  cursor: pointer;
}
.sidebar .new-chat {
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: #e6eaf1;
  border-radius: 50px;
  font-size: 0.9rem;
  cursor: pointer;
}
.sidebar .new-chat:hover {
  background-color: #dfe3e9;
}
.sidebar .recent {
  display: flex;
  flex-direction: column;
}
.sidebar .recent p:first-child {
  animation: fade 2s;
}

.sidebar .recent-title {
  margin-block: 0 10px;
}
.sidebar .recent-entry {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px;
  padding-right: 25px;
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
}
.sidebar .recent-entry:hover {
  background-color: #e2e6eb;
}
.sidebar .bottom {
  display: flex;
  flex-direction: column;
}
.sidebar .bottom-item {
  padding-right: 10px;
}
.sidebar .menu-mobile {
  display: none;
}
.recent span:first-child {
  margin-top: 15px;
}
@media (max-width: 600px) {
  .sidebar {
    position: absolute;
    z-index: 1;
  }
  .sidebar,
  .sidebar .menu {
    display: none;
  }
  .sidebar .menu-mobile {
    display: block;
  }
  .main .greet p:nth-child(2) {
    font-size: 2rem;
  }
  /* .main .greet {
    margin: 0px;
  }
  .main .card {
    height: 100px;
  } */
}
